body {
  font-family: Arial, Helvetica, sans-serif;  
  background-color: #fff;
  margin: 0px;
  overflow: hidden;
}

#loading {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: goldenrod;
  font-weight: bold;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 10px;
}

.controls {
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 50px;
  height: 50px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  transition-duration: 0.1s;
}

button:hover {
  transform: scale(1.1);
}

button.active {
  transform: scale(1.3);
}

img {
  max-width: 50px;
  max-height: 50px;
}

/* Model list */
.model-list{
  position: absolute;
  display: none;
  top: 64px;
  left: 0;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.model-list li {
  padding-bottom: 10px;
}

.model-list li img {
  width: 30px;
}

.model-list li button {
  width: auto;
  height: auto;
  font-size: 14px;
}

.light-controls{
  position: absolute;
  display: none;
  bottom: 64px;
  right: calc(50% - 100px);
  list-style: none;
  padding: 10px;
}

.info{
  position: absolute;
  display: none;
  bottom: 64px;
  right: 0;
  list-style: none;
  padding: 10px;
  text-align: left;
  background: #e2e2e2;
}

.control {
  width: 160px;
  padding: 10px;
}

.contribute-popup {
  position: fixed;
  display: none;
	max-width: 500px;
  width: 100%;
  height: 300px;
	left: calc(50% - 280px);
	top: calc(50% - 150px);
	padding: 30px;
	border-radius: 5px;
	font-size: 14px;
  background: #fff;
  background-size: contain;
  background-position: center bottom;
	z-index: 100000;
	box-shadow: 4px 4px 23px -2px rgba(0,0,0,0.75);
	text-align: center;
}

@media screen and (max-width: 480px) {
  .contribute-popup {
    left: auto;
    max-width: none;
    width: auto;
    margin: 0 10px;
  }
}

.contribute-popup button {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.contribute-popup h2 {
  margin: 30px 0 60px;
}

.contribute-popup .contribute {
  width: 175px;
  height:37px;
  margin: 60px auto;
}

#snackbar {
  visibility: hidden;
  width: 300px;
  left: calc(50% - 150px);  
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 100px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#reload {
  cursor: pointer;
}

.bmc-button img {
  width: 27px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  line-height: 36px !important;
  height: 37px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #FFFFFF !important;
  background-color: #FF813F !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 0px 9px !important;
  font-size: 17px !important;
  letter-spacing: -0.08px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: 'Lato', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #FFFFFF !important;
}