body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0px;
  overflow: hidden;
}

#loading {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: goldenrod;
  font-weight: bold;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 10px;
}

.controls {
  max-width: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tool-button {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  transition-duration: 0.1s;
  filter: grayscale(85%);
}

@media (min-width: 768px) {

.controls {
  max-width: 240px;
}
.tool-button {
    width: 50px;
    height: 50px;
  }
}

.tool-button:hover {
  transform: scale(1.05);
  filter: grayscale(20%);
}

.tool-button.active {
  transform: scale(1.1);
  filter: grayscale(0%);
}

img {
  max-width: 50px;
  max-height: 50px;
}

/* Model list */
.model-list,
.pose-list {
  position: absolute;
  display: none;
  top: 64px;
  left: 0;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.pose-list {
  max-height: 80vh;
  min-width: 250px;
  overflow-y: auto;
  top: unset;
  bottom: 64px;
  left: unset;
  right: 0;
}

.model-list li,
.pose-list li {
  padding-bottom: 10px;
}

.model-list li button,
.pose-list li button {
  width: auto;
  height: auto;
  font-size: 14px;
}

.light-controls {
  position: absolute;
  display: none;
  bottom: 75px;
  right: calc(50% - 100px);
  list-style: none;
  padding: 10px;
}

.light-controls img {
  width: 50px;
}

.light-controls .control {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.info {
  position: absolute;
  display: none;
  bottom: 100px;
  right: 10px;
  list-style: none;
  padding: 10px;
  color: #fff;
  text-align: left;
  border: solid transparent 5px;
  background: rgba(0, 0, 0, 0.8);
}

.panel-block,
.panel-tabs {
  background: #fff;
}

.panel-block.pose {
  justify-content: space-between;
}

.panel-block:last-child {
  border-radius: 0 0 5px 5px;
}

.unbutton {
  width: 100%;
  text-align: left;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#snackbar {
  visibility: hidden;
  width: 300px;
  left: calc(50% - 150px);
  position: fixed;
  z-index: 1;
  bottom: 100px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}



/** Code for hover info **/

@media (min-width: 768px) {
  dfn {
    padding: 0 0.4em;
    font-style: normal;
    position: relative;
  }

  dfn::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 22px;
    left: 0;
    opacity: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
  }
  dfn::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    opacity: 0;
    width: 0;
    height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    transition: opacity 250ms, top 250ms;
  }
  dfn:hover {
    z-index: 2;
  } /* Keeps the info boxes on top of other elements */
  dfn:hover::after,
  dfn:hover::before {
    opacity: 1;
  }
  dfn:hover::after {
    top: 30px;
  }
  dfn:hover::before {
    top: 20px;
  }

  dfn.above:after {
    top: -80px;
    left: 0;
  }
  dfn.above::before {
    top: -25px;
    left: 20px;
    border-top-color: rgba(0, 0, 0, 0.8);
    border-bottom-color: transparent;
  }
  dfn.above:hover::after {
    top: -110px;
  }
  dfn.above:hover::before {
    top: -59px;
    
  }
}
